body{
    background-color: lightblue;
}
.intro{
    width: 700px;

}
.pp{
    width: 200px;

}
.mail, .phone, .linkedin, .twitter, .facebook, .portfolio{
    color: #000;
    font-size:18px; 
    width:30px;
    letter-spacing: 1px;
}
.EQ_title{
    font-size: 20px;
    letter-spacing: 1px;
}
.edu{
    font-size: 18px;
}
.passing_year:{
    text-align: right;
    background-color: black;
}