body{
    background-color: lightblue;
    background-attachment: fixed;
    font-family: Cambria, sans-serif;
}
#table1{
    background-color:;
}
.intro{
    width: 700px;

}
.info{
    font-size: 18px;
}
#name{
    color: blue;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}
.pp{
    width: 200px;

}
.mail, .phone, .linkedin, .twitter, .facebook, .portfolio{
    color: #000;
    font-size:18px; 
    width:30px;
    letter-spacing: 1px;
}
.EQ_title{
    font-size: 20px;
    letter-spacing: 1px;
}
.edu{
    font-size: 18px;
}
.passing_year:{
    text-align: right;
    background-color: black;
}
.edu_info{
    font-size: 16px;
}
#interest{
    font-size: 18px;
}
.project{
    color: blue;
    font-size: 18px;
    font-weight: bold;
}
.dis{
    color: #000;
    font-weight: normal;
    font-size: 16px;
    font-style: italic;
}

.footer{
    font-size: 18px;
    font-family: Cambria, sans-serif;
}
.footer a{
    color: #000;
    text-decoration: none;
}
.footer a:hover{
    color: blue;
}